.layout{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0px;
    z-index: 5;
    cursor: auto;
}
.wrapper{
    width: 480px;
    height: 333px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}
.share-header{
    width: 100%;
    height: 52px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-action{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 2rem;
    cursor: pointer;
}

.share-title{
    font-size: 1.7rem;
    font-weight: 600;
}

.share-account{
    width: 100%;
    height: 128px;
}
.separate{
    height: 1px;
    transform: scaleY(0.5);
    width: 100%;
    background-color: rgba(0, 0, 0, .12);
}