.wrapper {
    height: 90vh;
    overflow-y: scroll;

    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    /* optional */
    overscroll-behavior: contain;

    //hide scroll video
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar{
    display: none;
}

.video-container {
    height: 90vh;
    padding: 20px 40px;
    overflow: hidden;
    position: relative;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.video-item {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    cursor: pointer;
    &:hover ~ .volume {
        opacity: 1;
    }
    &:hover ~ .menu {
        opacity: 1;
    }
}
.volume,
.menu {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    &:hover {
        opacity: 1;
        background-color: hsla(0, 0%, 100%, 0.13);
    }
    &.active {
        opacity: 1;
    }
}
.volume {
    top: 28px;
    left: 48px;
}

.menu {
    top: 28px;
    right: 310px;
    
}
.cretory-info {
    position: absolute;
    bottom: 80px;
    left: 54px;
    display: flex;
    user-select: none;
}

.cretory-nickname {
    color: var(--white);
    font-size: 1.7rem;
    &:hover{
        cursor: pointer;
        text-decoration:underline ;
    }
}   

.cretory-date {
    color: hsla(0, 0%, 100%, .6);
    margin-left: 16px;
    position: relative;
    font-size: 1.5rem;
    pointer-events: none;
    &::before{
        content: '.';
        color: hsla(0, 0%, 100%, .6);
        position: absolute;
        top: -4px;
        left: -10px;
    }
}

.cretory-description {
    font-size: 1.4rem;
    color: var(--white);
    position: absolute;
    bottom: 50px;
    left: 54px;

}

.action {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 240px;
   
}

.container {
    cursor: pointer;
    user-select: none;
}

.avatar-box,
.like,
.comment,
.favorite,
.share {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(22, 24, 35, 0.06);
    margin: 8px 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:active{
        background-color: rgba(22, 24, 35, 0.11);
    }
}
.avatar-box {
    cursor: pointer;
    user-select: none;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.un-follow,
.follow {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}
.follow {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    &:hover {
        background-color: #ea284e;
        border-color: #ea284e;
    }
}

.un-follow {
    background-color: var(--white);
    border-color: rgba(22, 24, 35, 0.12);
    color: var(--primary);
    &:hover {
        background-color: #f5f5f5;
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.likes-count,
.shares-count,
.comments-count,
.favorites-count {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
