.wrapper{
    padding: 4px;
}

.menu{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-action{
    display: flex;
    width: 224px;
    height: 50px;
    padding: 0 14px;
    align-items: center;
    border-radius: 8px;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 600;
    margin: 0 4px 4px;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 0, 0, 0.05);
    }
}
.action-icon{
    margin-right: 8px;
}
.action-title{

}
.action-des{
    margin-left: auto;
}

.toggle {
    position: relative;
    width: 44px;
    height: 24px;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        position: absolute;
        inset: 0;
        background-color: #dcdcdc;
        border-radius: 999px;
        transition: background-color 0.25s ease;
    }

    label::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        transition: transform 0.25s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    input:checked + label {
        background-color: #20d5ec; // xanh TikTok
    }

    input:checked + label::after {
        transform: translateX(20px);
    }
}
