.layout{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0px;
    z-index: 5;
}

.wrapper{
    width: 550px;
    height: 642px;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 8px;

}


.auth-header{
    position: absolute;
    top: 18px;
    right: 16px;
}

.btn-close{
    width: 40px;
    height: 40px;
    background-color: rgba(22, 24, 35, 0.03);;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon{
    font-size: 2rem;
}

.auth-label{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    font-weight: 700;
}

.auth-box{
    width: 337px;
    height: 368px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: overlay;
    cursor: pointer;
}
.auth-container{
    position: relative;
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 0 12px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover{
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
    
}

.auth-icon{
    margin-top: 6px;
    
}
.auth-title{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;

}
.policy{
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}   
.auth-policy{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgba(22, 24, 35, 0.5);
    width: 337px;
    & a{
        cursor: pointer;
    }
}
.policy-link{
    &:hover{
        text-decoration: underline;
    }
}


.auth-bottom{
    display: flex;
    height: 64px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
    user-select: none;

}
.bottom-text{
    font-size: 1.5rem;
    margin-right: 6px;
}
.switch{
    font-size: 1.5rem;
    color: var(--primary);
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}