@import 'normalize.css';


:root{
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;
    --text-color: #161823;
    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;


}   

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "ProximaNova", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color)

}

button, input ,[tabindex]{
    outline: none;
    border: none;
}   

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
//fonts embedded
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: ProximaNova;
    src: url('/asset/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/asset/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

//custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba( 84, 84, 84, 0.92);
        font-size: 1.6rem;
        line-height: 2.2rem ;
        font-weight: 500;
        border-radius: 8px;
    }
    .tippy-arrow {
        color: rgba( 84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^=bottom]>.tippy-arrow {
        top: -1px;
    }
    .tippy-content{
        padding: 8px 9px;
    }
}
