@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700;800&display=swap');


:root{
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;


}   

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color)

}

button, input ,[tabindex]{
    outline: none;
    border: none;
}   

a[href] {
    color: var(--text-color);
    text-decoration: none;
}