.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%) ;
    display: flex;
    justify-content: center;
    width: 100%;
    // position: fixed;
}
.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}
.logo{
    display: flex;    
}


//actions
.actions{
    display: flex;
    align-items: center;
}
.user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
.action-btn{
    background-color: transparent;
    font-size: 2.2rem;
    color: rgb(22, 24, 35);
    padding: 4px 8px;
    cursor: pointer;
}



.more-btn{
    font-size: 2rem;
    margin-left: 28px;
    background-color:transparent ;
    padding: 4px 8px;
    cursor: pointer;
}

